[2017-12-03 20:28] ntrippar opened #1 "create a command to enable or disable keys in the enclave."
we need to create a command that allow you to enable/disable the keys on the enclave so when the ssh server requests for identities don't leak all the pub keys.

[2017-12-04 01:37] ntrippar opened #2 "Add forwarding for other agents running in the system, like gpg-agent"
Implement forwarding of messages to check if in other agents in the systems exist the key that we need.

[2017-12-05 00:26] Manouchehri opened #3 "Homebrew-Cask"
Looks like it should be possible to use a Cask with the signed release.

https://github.com/caskroom/homebrew-cask/blob/master/doc/development/adding_a_cask.md

[2017-12-05 12:45] ntrippar commented on #3
totally, tonight i will do it.

[2017-12-06 11:12] ericjjj opened #6 "build failed"
[code]

[2017-12-06 12:28] claui commented on #3
@ntrippar [Beat you to it](https://github.com/caskroom/homebrew-cask/pull/41686).

Feel free to update it yourself though whenever you publish new releases!

[2017-12-06 12:49] ntrippar commented on #6
thar seems a dependency of one of the dependencies, what version of rust are you using?

[2017-12-06 13:11] ntrippar commented on #6
seems that you have a older version of rust, bitflags requires rust > 1.20
https://github.com/rust-lang-nursery/bitflags/issues/141

[2017-12-06 13:16] ntrippar commented on #3
Hey, thanks you!. anywaysIi was thinking to package as installer. so automatically set up as a launchagent, (even I think I can do it scripting on the ruby side) then the user only will have to add the enviroment variables.

[2017-12-06 15:50] Rudi9719 opened #7 "Locked out of Authentication"
If you have too many keys stored, SSHD will lock you out because you offer each key, is there a way to only supply a specific key for each host?

[2017-12-06 15:52] Rudi9719 opened #8 "Command line options"
This is more of a feature request than a bug.
sekey -d <ID> for sekey --delete-keypair <ID>
sekey -e <Name or ID> for sekey --export-key <ID>
sekey -c (create) <LABEL> for sekey --generate-keypair <LABEL>

[2017-12-06 16:10] Rudi9719 commented on #8
So I did a clone and tried to implement this myself to look all cool making a pull request and such.... Yeah I have no idea what's going on. I look forward to learning Rust 😂

[2017-12-06 16:17] ntrippar commented on #7
i have a ticket planning to add a feature to enable/disable keys. how the ssh-agent works (as far i research it) and you can see in this code https://github.com/ntrippar/ssh-agent/blob/master/src/protocol.rs#L88 and in the RFC https://tools.ietf.org/html/draft-miller-ssh-agent-00 the ssh don't send where the communication came from. i will try in some way to fix this (also because every time you a

[2017-12-06 16:24] Rudi9719 commented on #8
I tried to do it myself and failed, when you do it I'd be curious to see how badly I failed haha I can't run it anymore (I did make a backup)

[2017-12-06 16:28] Rudi9719 opened #9 "Consent Message"
Any particular reason for the message that you're displaying when asking for the Touch ID consent? Did you set that or is it being supplied somewhere?

[2017-12-06 17:05] ntrippar commented on #9
you mean this msg https://github.com/ntrippar/sekey/blob/master/src/keychain.rs#L269 ? i set it up.

[2017-12-06 17:12] claui commented on #3
Good point, especially for non-Homebrew users.

In the meantime, [I have now added the plist to the Cask](https://github.com/caskroom/homebrew-cask/pull/41686/files) as well, and automated as much of the installation as I could. The cask also creates a symlink inside `/usr/local/bin/` now , which points to the binary in the app bundle.

The one thing the user is left to do is to export `SSH_AUTH_S

[2017-12-06 18:15] ntrippar commented on #6
I close the issue. if you still unable to build it reopen it, and I will glad to help you

[2017-12-06 18:15] #6 closed

[2017-12-06 18:37] #8 closed

[2017-12-06 18:55] mlinton opened #11 "Usage Considerations and User Warnings"
One of the best features is that it is impossible to extract the private key material from the secure enclave, but the case I'm examining is what happens if the laptop is lost, or malfunctions?  The secret key material would be lost forever.

This is especially important in cases where the key material is being used as the only access control system for things like SSH services, or encrypted media

[2017-12-06 19:10] ntrippar commented on #11
totally agreed. I will write more in the readme so the users have more understanding the consequences of loosing the access to the laptop. also i want to add option to use the fingerprint or not depend on how one generate the key, as example if im using ansible to provisioning some servers I still want the key to be on the enclave but I dont want the fingerprint scanner ask me to touch it. (I will

[2017-12-06 19:11] ntrippar commented on #3
Awesome work, really thanks you!, i will try it on my laptop and then update the readme with the homebrew-cask instructions :)

[2017-12-07 11:47] ntrippar commented on #3
@claui yesterday I worked creating a pkg that automatically install the plist and set the correct user privileges to the folders. I will sign it today and modity your script/branch so we can release on cask :). Really thanks for your help!

[2017-12-08 11:23] spitfire opened #13 "A little more detailed set up instructions?"
I have downloaded the precompiled binary, and followed the "Manual Installation" instructions, then generated, exported and added the public key to my remote host; but the authentication using the generated key doesn't work. Is there anything else I need to do that is not outlined in Readme?

[2017-12-08 12:21] ntrippar commented on #13
can you check that the service is running? and also if the SSH_AUTH_SOCK= is set on your env?
for the service look if the process sekey is running in the machine. also to know if the env is right or not can you do the following steps on a terminal "env |grep SSH_AUTH" and give me the result here.
also you can check doing this
"export SSH_AUTH_SOCK=~/.sekey/ssh-agent.ssh"
and now trying to connect

[2017-12-08 12:24] spitfire commented on #13
Yes, the service is running. I also tried unloading it an running manually as myself:
~ sekey --daemon
Pipe deleted
binding to /Users/mieszko/.sekey/ssh-agent.ssh

I've noted no additional output when trying to connect to ssh after running it.

SSH_AUTH_SOCK is set to /Users/myusername/.sekey/ssh-agent.ssh

[2017-12-08 12:33] ntrippar commented on #13
can you run the daemon this way and get the log RUST_LOG=debug ./sekey --daemon that way we will look if the server is sending the identities. or its responding something. you can delete the content of key_blob and pubkey_blob (that are your public keys, but for your privacy)

[2017-12-08 12:37] spitfire commented on #13
[code]

[2017-12-08 12:39] ntrippar commented on #13
here appears that the server is not recognizing the public key, and is not sending the sign request. maybe your server don't support edcsa? lets try some other stuff, can you add your public key on github (its a really good place to test stuff), and do a ssh -T git@github.com

[2017-12-08 12:47] spitfire commented on #13
Yup, that's right - dropper (that's used as ssh server on OpenWRT) does not seem to work with ecdsa key (works with rsa).
I just logged on to another server (FreeNAS) using the key generated with sekey without any issues.

Thanks for the help with troubleshooting this!

Is the usage of ecdsa key with Secure Enclave a hard limit, that cannot be bypassed somehow?

[2017-12-08 12:50] ntrippar commented on #13
the Secure Enclave only support ecdsa :( I think that Apple did that way only because they need to sign/encrypt data but they where not thinking on stuff like this. maybe they add more algorithms in the future. Im currently researching more and more to see if I can get more capabilities from this.

[2017-12-08 12:52] spitfire commented on #13
Oh, so this is not about the amount of data you can put/read in one "block", but it's specifically supporting one key type.
Anyway - thanks a lot for your help!

[2017-12-08 12:52] #13 closed

[2017-12-08 12:53] ntrippar commented on #13
other way could be generate a public-private pair on the enclave, generate a RSA SSH key encrypt it with the enclave and save on the keychain. so every time you want to use the key you have to enable the enclave to decrypt the key. but the key will be in memory on that time. so it can be compromised.

[2017-12-08 13:02] spitfire commented on #13
So the private key read from the enclave now is not stored in memory at any point?
That sounds very secure.

[2017-12-08 13:06] ntrippar commented on #13
sekey never have access to the private key, and is not stored on memory on any point. the enclave generate they keypair but the private key is only in the secure enclave. when you are logging in to the ssh the server send a sign request matching for the public key, sekey send the signing request to the enclave, you use touchid to enable the enclave to signs the request and return the signature to

[2017-12-08 13:16] spitfire commented on #13
Does this make #2 impossible?

[2017-12-08 13:19] ntrippar commented on #13
the #2 is if you are using for example a yubikey is forward the request of identities also to the gpgagent for example and get also the identities from there and return. some people have to use yubikeys because of the companies where they work. so with that they will can use both as same time

[2017-12-08 13:57] spitfire commented on #13
So that (GPG support) would actually require additional U2F key to work, and not store it in the Secure Enclave? Would it actually do anything else, than let you confirm (using TouchID sensor) if you want to allow GPG agent to access the GPG key on a U2F device?

[2017-12-08 14:00] ntrippar commented on #13
exactly. even you wont need to use TouchID to confirm in that case you will have to confirm in the smarkey(Yubikey), only will work as a proxy sending the requests to the other agent. and the other agent will handle their communication/auth.

[2017-12-08 20:05] #9 closed

[2017-12-12 06:29] claui commented on #3
@ntrippar Anything I can do in the meantime to help?

Regardless, feel free to submit a stand-alone release with just the pkg/installer and plist.
I’ll happily take care of the Cask then.

[2017-12-13 03:19] ntrippar commented on #3
@claui Hey i was traveling, tomorrow morning i will upload the pkg. and we can add it directly in the cask!

[2017-12-14 16:27] ntrippar commented on #3
@claui I added a pkg installer on the releases! it automatically install the plist. with that we should be fine for the cask

[2017-12-14 20:03] willfarrell opened #15 "Support for other private key types and bits"
- [ ] ed25512 w/ option to change rounds
- [ ] ecdsa {384,512}
- [ ] rsa {2048,4096}

Samples on how I create the above now:
[code]
[manpage](https://linux.die.net/man/1/ssh-keygen) - matching the arguments might be helpful to most users.

[2017-12-15 00:39] ntrippar commented on #15
The main issue of how this works is that the private key is never on your computer. and the secure enclave has limitations only to generate this type of elliptic curves key. what we could do is generating normal keys and store in the keychain (but is not going to be that secure). because the keys will be decrypted on memory.

[2017-12-15 04:27] willfarrell commented on #15
Oh okay, that makes sense why it's not an option already. That's a bummer. I know popular services like bitbucket only support RSA, was really hoping to use this for all my ssh needs.

I did a little research and found doc that mention it, thought others might run across this and ask the same question.
https://developer.apple.com/documentation/security/certificate_key_and_trust_services/keys/stori

[2017-12-15 04:27] #15 closed

[2017-12-16 23:26] ntrippar commented on #3
@claui really didn't find a way to patch your pull request directly on the homebrew-cask repo. here is the code complete if you want to push it there so its clearner the open a new pull request.
I tested this and worked perfectly

https://github.com/ntrippar/homebrew-cask/blob/855c3aba0d800c989db3f0425fdd56357dcad3fb/Casks/sekey.rb

Btw. Muchas Gracias(Thanks you!) for your help!

[2017-12-22 07:47] lorenzschmid opened #16 "Better indication if no keys are stored"
Using `sekey --list-keys` on a fresh installation with no stored key results in the following output:
[code]
which is just an empty box. It would probably be more intuitive to print instead
[code]

[2017-12-24 17:53] ntrippar commented on #16
My mistake. will fix this today!

[2017-12-28 16:04] #16 closed

[2018-01-11 15:48] ntrippar commented on #3
I been really late finishing this. but the support for cask is added!

[2018-01-11 15:48] #3 closed

[2018-01-11 16:00] willfarrell commented on #3
I wrote a little script that includes it a while back, can finally share it. https://gist.github.com/willfarrell/e9b7553367f5edca0ac7e0b8e9647a04

[2018-01-24 03:59] balupton commented on #2
This would be a great solution to the "get locked out of servers which only have one ssh key" issue raised in https://github.com/ntrippar/sekey/issues/11

Which is actually an issue I face with certain servers I use. So holding off adoption of sekey until this feature is done.

Looking forward to using this though, seems wicked!

[2018-01-24 04:02] balupton commented on #2
I've also seen that https://krypt.co are considering similar functionality too over at this issue
https://github.com/kryptco/kr/issues/149

Perhaps the solution here is to make an additional ssh agent, which is a generic one, that just allows one to specify an ordered list of other ssh agents to defer to. So that new generic ssh agent, would have a ordered list that says, first try the local ssh a

[2018-01-27 23:28] ntrippar commented on #2
@balupton yes totally, I also use a yubikey for some other work reasons, the code for the forwarding will be push next week!. its almost done.

[2018-03-02 16:13] Rudi9719 opened #17 "sign_and_send_pubkey"
Not sure what happened, but I when I try to SSH into FreeBSD, macOS, Ubuntu, or Debian, I get `sign_and_send_pubkey: signing failed: communication with agent failed` and prompted for my password. I can see my keys in --list-keys, and have checked that they're in the authorized_keys files on all hosts.

[2018-03-18 22:25] piger commented on #7
@Rudi9719 I believe what you want is `IdentitiesOnly=yes` and set `IdentityFile` for each host in your `ssh_config` file; see https://superuser.com/questions/268776/how-do-i-configure-ssh-so-it-dosent-try-all-the-identity-files-automatically

[2018-03-18 22:27] ntrippar commented on #17
I totally miss this issue, you still with this happening? if yes i will tell you how to log some info so i can know why that is happening. maybe a crash sekey.

[2018-05-10 20:25] Rudi9719 commented on #17
So I got this issue to come back again. Sorry, I didn't get a notification that you replied. However this time I can give you some more information. This time it broke immediately after an automatic/security update. I tried to generate a new key and added it to a host, tried to SSH in, and it gave me the same error twice before prompting for my password. My email is rudi at nightmare dot haus if y

[2018-05-10 20:27] Rudi9719 commented on #17
I did brew cask reinstall, however my old keys survived that, and I still got an error when trying to use them.

[2018-05-10 20:53] ntrippar commented on #17
I will create a new version today with a debub parameter and send you the
link, try to check on the ssh -v and send me the log of what is saying when
the ssh is contacting sekey.

On Thu, May 10, 2018 at 16:27 Gregory Rudolph <notifications@github.com>
wrote:

[2018-05-15 14:43] Rudi9719 commented on #17
`zero:~ gregory$ ssh -v vandort
OpenSSH_7.6p1, LibreSSL 2.6.2
debug1: Reading configuration data /Users/gregory/.ssh/config
debug1: /Users/gregory/.ssh/config line 1: Applying options for *
debug1: /Users/gregory/.ssh/config line 8: Applying options for vandort
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 48: Applying options for *
debug1: Connecting to 0

[2018-05-15 14:43] Rudi9719 commented on #17
Wow that looks terrible

[2018-05-15 14:49] ntrippar commented on #17
Ok, seems that is a problem with the comunication with the agent, can you check this two things.

1. check that the sekey agent is running

[code]

it should appear `/Applications/SeKey.app/Contents/MacOS/sekey --daemon`

2. check the env

[code]
here should be `SSH_AUTH_SOCK=/Users/{user}/.sekey/ssh-agent.ssh`

check those both stuff, also sorry about the delay to build the verbose version of sek

[2018-05-15 14:51] Rudi9719 commented on #17
`754 ??         0:00.95 /Applications/SeKey.app/Contents/MacOS/sekey --daemon` for ps, and
`SSH_AUTH_SOCK=/Users/gregory/.sekey/ssh-agent.ssh` for env

[2018-05-31 01:49] ntrippar commented on #2
it should work, im using in that way @nimish, as seen in other tickets im building a new version to debug, i will keep this open and upload the new version. (been with a lot of work so I didnt have time to build it). i will do tomorrow.

[2018-05-31 09:34] jtakkala opened #18 "Add a License"
Could you please choose an open source license and add a LICENSE.txt file to the root of the repo if this is open source software? There's an easy to use website https://choosealicense.com/ that can help you with this. https://help.github.com/articles/licensing-a-repository/ is useful too. We'd love to use sekey at my company, but as it's unlicensed we're not able to.

[2018-06-06 09:20] webframp commented on #2
Looking forward to it!

[2018-06-18 19:46] aharnly-amplify opened #19 "Allow access without TouchID for some interval?"
Is it feasible to allow signing without re-confirming with TouchID each time within some interval? I adore this tool but it's a bit too demanding for some uses, e.g. on every git pull or push. Or maybe that's already expected behavior and I've misconfigured?

[2018-06-18 20:02] pat2man commented on #19
This would be outside the scope for this app. Each ssh session needs its own signature. You could in theory configure git and ssh to keep the session alive, although your git host might not like that.

[2018-06-19 00:59] aharnly-amplify commented on #19
Got it, thanks. I guess the alternate approach (and a different app) would
be to put the keys in Keychain and
use touchIDAuthenticationAllowableReuseDuration to support reuse without
challenge within some interval, more akin to regular ssh-agent. Thanks for
the great work!

On Mon, Jun 18, 2018 at 4:02 PM Patrick Tescher <notifications@github.com>
wrote:

[2018-06-19 19:08] pat2man commented on #19
@aharnly-amplify you could also store the ssh key on disk and store the password in your keychain, I believe mac os x supports this out of the box.

[2018-06-22 02:36] ntrippar commented on #18
Done, its under MIT now.

[2018-06-22 02:36] #18 closed

[2018-07-04 01:50] #7 closed

[2018-07-26 17:37] SamEBae opened #21 "No meaning error message if touchid not set-up"
`Error generating key` is produced if you run

`sekey --generate-keypair` without touchID set-up, but this error message is not very helpful

[2018-08-04 12:39] jonathancross commented on #11
Would be great to see issues / possible solutions mentioned in the readme. For devices like the Yubikey, users can generate keys normally, write them to the device, backup (eg print on paper), then delete from the host system. Can be done from a Live OS like Tails.

Is there a way to write keys into the secure enclave?

I understand this would trade some security for redundancy, but I believe this

[2018-08-04 22:48] ntrippar commented on #11
You can't write keys on the enclave, you can only generate there. Apple wants to be sure that in any moment the key isn't compromised. personally I have a Yubikey as backup, but I always use sekey. in the case that I swap from computer, I re provision the servers with my new key.

[2018-08-04 22:49] ntrippar commented on #21
Oh!, I never checked that. I will handle the error if the touch-id is not setup on the machine. I will leave this open untill finish this.

[2018-08-08 00:56] InnovativeInventor opened #22 "Deterministic builds"
Great project @ntrippar!

I was thinking that since this all comes precompiled, it would be nice if something like [Gitian](https://github.com/devrandom/gitian-builder) was used to have deterministic builds. That way, observers can verify that the packages on GitHub have not been tampered with.

[2018-08-11 14:48] mcdallas opened #23 "Key format"
When I am trying to import my public key to AWS management console I am getting:

Does anyone know what the problem is? Is it possible that AWS does not support ecdsa keys?

[2018-08-11 21:29] mcdallas commented on #23
@InnovativeInventor what is just the key fingerprint? I am trying to upload the output of `sekey --export-key <fingerprint> > mykey.pub`

[2018-08-11 23:05] InnovativeInventor commented on #23
Sorry – saw the short output and mistakenly thought it was probably a key fingerprint. I think some option of `ssh-keygen` may be able to help you convert to the OpenSSH format. I just add it to the authorized_keys file instead, although that's not too useful for you because ssh access is needed to do that.

[2018-08-12 01:02] mcdallas commented on #23
@InnovativeInventor I can confirm that i can connect to the instance if I add the key in `authorized_keys` but the aws management console still refuses it as invalid. Weird, I guess I'll have to use this workouround.

[2018-08-15 02:34] ntrippar commented on #23
I think AWS doesn't support elliptic curves keys from their management console, I will doble check now.

[2018-08-15 02:35] ntrippar commented on #22
Hi, doing a repro builds is a great idea. I should sign the final one. I will check tomorrow Gitian.

[2018-08-15 13:28] ntrippar commented on #22
@InnovativeInventor we will have two issues here, we link with some apple libraries, for that i suppose we need to build it on OSX. i will check if there any deterministic build system for OSX stuff. I didn't check it yet if i can have a OSX vm for doing it. on the documentation i only see linux references.

This should be top priority, also Im working on a v2 release with a lot of fixes, need to

[2018-08-15 13:40] ntrippar commented on #23
@mcdallas I can't quote directly Amazon, because on the aws documentation I don't see a list of supported algorithms, but as far from comments on internet they don't support ecdsa keys 👎

Maybe we should push them like 100 other people on their support site. I know that many people from this issue they moved to Google Cloud. they should add the possibility at least to provision with a key you want

[2018-08-15 13:40] #23 closed

[2018-09-26 19:17] jtescher commented on #17
Same issue. Installed via homebrew, process running and env var is set. Is there a debug version available? or does the daemon have logs that might help debug further?

[2018-10-02 05:12] omor1 opened #25 "RSA keys"
Some systems (e.g. some old clusters I occasionally need to log in to) don't have a new enough SSH to support ECDSA keys and require RSA.

Since RSA is supported by the Secure Enclave (`kSecAttrKeyTypeRSA`), I see no reason why not to have RSA support as well.

[2018-10-02 05:21] omor1 opened #26 "Replace deprecated/legacy functions and constants"
Some of the functions and constants used have been deprecated (or marked 'legacy', whatever that means) by Apple and replaced. Examples include:

* `SecKeyGeneratePair` => `SecKeyCreateRandomKey`
* `kSecAttrKeyTypeEC` => `kSecAttrKeyTypeECSECPrimeRandom`

In most cases it is fairly straightforward to port it. The new functions and constants only exist in macOS 10.12+ (Sierra). Since the T1 and T2

[2018-10-02 20:57] omor1 commented on #25
Actually, I just realized that Apple's [Storing Keys in the Secure Enclave](https://developer.apple.com/documentation/security/certificate_key_and_trust_services/keys/storing_keys_in_the_secure_enclave) document states:

I don't see that documented anywhere else, but believe it. If that's the case, the point is moot and this can be closed. Though that is very unfortunate.

[2018-10-02 20:57] #25 closed

[2018-10-03 18:29] omor1 commented on #25
Actually, a couple of places online claimed that generating RSA keys in the Secure Enclave _does_ work with RSA, but that's not supported by the documentation. I suppose it could be tested.

[2018-10-24 12:35] listochkin opened #27 "How can I tell which key to use for a given host?"
I have two keys in Sekey vault: `keyA` and `keyB`. I want to use `keyA` for `hostA` and `keyB` for `hostB`. Is there a way to do it in `~/.ssh/config`?

[2018-10-24 16:36] ntrippar commented on #27
how the SSH_Agent protocol is implemented. it send all the keys to the host, if you have two diferent keys will work but you will have the issue commented here on the issue #1, im planning to release a new version of sekey (lot of changes, even async) that im working on a fork (locally, i will push in this days), that will add the ability of enable/disable keys.

[2018-10-24 16:42] ntrippar opened #28 "Key Attestation"
Currently we don't support key attestation, as far I researched the only way to do the attestation we need especial entitlements that apple have to provide to us, I'm looking to join efforts with other projects so we can push Apple to enable those API. I will comment more in this ticket about the current API and what we need.

[2018-10-24 19:01] listochkin commented on #27
Still it would be nice to have a configuration in '~/.ssh/config'. It could look like this:

[code]

this way a user wouldn't have to run `sekey` command before and after every remote operation. That would be especially useful when they have to run the same script on a number of machines with each machine using its own key pair for SSH.

[2018-10-24 19:17] listochkin commented on #27
Just realized after some digging that [SSH doesn't pass the host name to the agent when it requests the list of identities](http://api.libssh.org/rfc/PROTOCOL.agent), and thus my suggestion wouldn't work without extra commands, like you described in #1

[2018-10-24 23:11] ntrippar commented on #27
I checked and works for me, I will update the documentation, I don't want to add code to automatically generate the configuration files, because it can break up with existing configs. and will be a lot of code only for that.

[2018-10-24 23:40] listochkin commented on #27
Yep. Tested out and it worked flawlessly! Great job!

[2018-10-30 12:05] #27 closed

[2018-10-31 12:50] spitfire commented on #17
@ntrippar did you get to contact @jtescher ? If not, I am experiencing the same issue, so if you still need that information, please contact me.

[2018-11-04 17:03] ntrippar commented on #17
@spitfire Yes i contacted with him, but in his case he already fixed. please contact me at my ntrippar at gmail.com or if you want via twitter pm so i can help you fix it, (really want to close this ticket but untill i dont have a solution that really works i cant)

[2018-11-29 16:33] bourdin opened #31 "Reverting to standard behavior when touchID is not available"
Once rekey is setup, I can no longer add regular keys to my ssh-agent. This is a problem when using a laptop in clamshell mode, or when remotely connecting to a machine through VNC, for instance.

[code]
Any suggestion?

[2018-12-03 02:17] ntrippar commented on #31
i will check this tomorrow and give you a solution. for sure this is failing because is trying to add the key to the sekey agent, and should add to the normal ssh. maybe is a way to return to the normal ssh client to refuse to add and add to the normal one. i been using multiple keys with id_rsa on my user path and worked buy i never added with the ssh-add.

[2018-12-22 23:09] ntrippar opened #32 "add a way to disable/enable the touch to sign on a specific key"
I use a lot my laptop connected to a external monitor, and have the lid closed. I want a way to enabled/disable that can be used without having to "touch for sign", I know that this is a way more insecure, because in the case that someone hack your laptop they can sign in your behalf. also this is a good idea for DevOps that runs Ansible scripts, etc temporary disable to run the script. something

[2019-01-08 14:41] ntrippar commented on #22
this will be released really soon, so rust support for deterministic builds, but we need the Cargo.lock uploaded here. Im currently in the process of rabase some code, this will be push for end of this week

[2019-02-05 15:02] alex91ar opened #33 "Allow exporting key with LABEL instead of key ID"
It would be great to be able to export public keys with --export-key and the LABEL of the key, instead of the ID.

I send you multiple nipple pinches.
Kind Regards,
Alex

[2019-02-07 02:26] boardwalk opened #34 "Crash when unexpected key type is received"
I'm trying out Pijul and it's sending a sign request to the SSH agent which crashes it.

As far as I can tell, it's sending something other than an ECDSA key and sekey is running off the end of the buffer in EcdsaSha2Nistp256::read and panicking.

From the SSH agent protocol spec, it looks like the agent is expect to just return SSH_AGENT_FAILURE if it doesn't doesn't have a key (regardless of typ

[2019-02-07 23:48] ntrippar commented on #34
@fmpomar wrote a new ssh-agent library that we will use for SeKey, I will work on implementing that today and push a new version. one of the main issues with SeKey is on the first version all the error handling was poorly done. With that implemented this issue will be closed.

[2019-02-07 23:49] boardwalk commented on #34
Great, thanks!

[2019-02-07 23:51] ntrippar commented on #34
This will be the new agent that we will be using. -> https://github.com/sekey/ssh-agent.rs/tree/dev

[2019-02-10 22:36] myount commented on #32
~If I may, I'd like to suggest a further refinement of this idea: `sudo`-like behavior where when the user authenticates with Touch ID, the key they used remains unlocked for some configurable length of time.~

Never mind, just saw #19 addresses this.

[2019-03-11 20:57] tommythorn opened #35 "export-key produces no output"
This looks very useful, but I get no output from export-key:

[code]

What am I missing?

[2019-03-11 22:59] ptescher commented on #35
@tommythorn you need to pass the key ID, not the key label.

[2019-03-12 05:30] martinpaljak commented on #35
See #33

[2019-03-12 05:34] martinpaljak commented on #2
There are other “frontend” ssh agent proxies out there. I would suggest using them for fancy setups and leave sekey for a rock solid backend implementation with touchid only.

[2019-03-12 05:50] tommythorn commented on #35
Thanks, that worked, but wasn't obvious enough for me :)

[2019-03-12 05:50] #35 closed, assigned to nobody

[2019-04-29 18:18] bolapara commented on #17
Hi there.  I'm experiencing a similar issue after my machine was re-imaged by Apple support:

machine:~ user$ RUST_LOG=debug /Applications/SeKey.app/Contents/MacOS/sekey --daemon
Pipe deleted
binding to /Users/user/.sekey/ssh-agent.ssh
DEBUG:ssh_agent::agent: handling new connection
DEBUG:ssh_agent::protocol: reading request
DEBUG:ssh_agent::agent: request: RequestIdentities
DEBUG:ssh_agent::agent

[2019-04-30 03:36] bolapara commented on #17
As far as ssh itself:

debug1: Offering public key: ecdsa-sha2-nistp256 ECDSA SHA256:*snip* agent
debug1: Server accepts key: ecdsa-sha2-nistp256 ECDSA SHA256:*snip* agent
sign_and_send_pubkey: signing failed: communication with agent failed

Also, I can successfully export the public key and it matches what I already had in my backup.

I built a test version with some print statements in handler.

[2019-05-01 17:50] ntrippar commented on #17
I found the issue here, and i will resolve and push the code with the new agent.

So when we are creating the private key we use `kSecAttrAccessibleWhenUnlockedThisDeviceOnly`
this mean
[code]
https://developer.apple.com/documentation/security/ksecattraccessiblewhenunlockedthisdeviceonly?language=objc

also from the ios security guide

[code]
so the main issue is I also saved the public key on the

[2019-06-03 21:41] nikkikom commented on #2
Would you please name few?

[2019-06-04 04:40] martinpaljak commented on #2
Like https://github.com/tiwe-de/ssh-agent-filter.

But following the unix philosophy, it would be great if sekey worked as a standalone agent accessing the SE, and other routing/filtering/selection would happen in a separate agent.

[2019-07-07 18:48] rgov opened #37 "Export key at creation time"
Is there any use case where you would want to generate a new key pair, and then not *immediately* export the public key? Currently, this requires three steps:

1. Generate keypair with label
2. Look up key ID by label
3. Export public key by key ID

Just exporting the public key at generation time would be much more user friendly.

[2019-07-07 18:54] rgov opened #38 "Solution like ssh-copy-id to upload a key in one step"
The `ssh-copy-id` tool is useful to add your public key to a remote server's `authorized_keys` file. It can be used with SeKey by exporting a public key to a file and then using `ssh-copy-id` with it.

It would be nice if SeKey made this a bit easier, something like

    sekey -u, --upload-key <[USER@]SERVER> <ID>

[2019-07-08 18:05] ptescher commented on #38
I just tried this with `SSH_AUTH_SOCK=$HOME/.sekey/ssh-agent.ssh` and just running `ssh-copy-id` and it worked just fine. No file export needed.

[2019-07-18 20:24] rgov commented on #38
Indeed that works. Cool!

[2019-07-18 20:24] #38 closed, assigned to nobody

[2019-09-16 15:19] cfi2017 opened #41 "IOError after messing with boot security options"
I recently dabbled in installing Linux on my macbook as a secondary operating system and after re-enabling the full security features for OS X (in the recovery systems security menu) I discovered I couldn't use sekey anymore. It would default to a password where possible and give me a pubkey authentication error in other places.

I tried reinstalling sekey, and I already tried deleting and re-addi

[2019-11-11 16:05] gris-gris opened #42 "Is it possible to run sekey alongside Funtoo Keychain?"
I have multiple RSA private keys and Sekey-managed ecdsa key
Each private key have its passphrase, keychain manage ssh-agent
[code]
In .zshrc keychain and sekey exported like this:
[code]
When I try to log in with my private keys on any host, it doesn't work
Is it possible to run both keychain and sekey agents?

[2020-01-27 15:50] #42 closed, assigned to nobody

[2020-02-06 00:23] cyberdelia opened #43 "Add Apple Watch unlocking support"
Catalina allows to access a key using a nearby Apple Watch, which is very practical when your laptop lid is closed.

It seems the access control is driven by this flag: https://developer.apple.com/documentation/security/secaccesscontrolcreateflags/3042482-watch

[2020-05-04 15:57] alexreg opened #46 "Installer writes to `~/Library/LaunchAgents`"
The installer installs the binary to `/usr/local/bin`, which is system-wide, but the launch agent to `~/Library/LaunchAgents`, which is user local. This sort of inconsistency is not desirable, and it should probably install the launch agent to `/Library/LaunchAgents`.

In particular, this is problematic because I use brewdo, which means I get permissions errors on installation when the installer t

[2020-05-07 11:53] dmitrystarikov opened #47 "Application name in Touch ID dialog and Touch Bar"
App name in Touch ID dialog and Touch Bar is "com.ntrippar.sekey" instead of "SeKey" (like on screenshot)
Is it possible get app name "SeKey"?
MacOS 10.15.4

[2020-06-05 17:08] matthewleon opened #49 "README: MacBook Air is now supported"
The current README states "Only support MacBook Pro with the Touch Bar and Touch ID"

This should probably be changed to reflect support for recent MacBook Airs, which come equipped with Touch ID, but no Touch Bar. Mine is working fine with SeKey.

[2020-06-18 02:30] #43 closed, assigned to nobody

[2020-06-27 23:28] craSH commented on #37
Hi, I thought the same thing and while I am in favor of this being handled natively, I did end up writing a little helper script that does this in the mean time - maybe it can be of help to others: https://gist.github.com/craSH/59ae554107a1b7a5c154f8a7e9dc9e08

[2020-06-29 21:03] Ewarren7 opened #51 "Did not work in github without additional steps"
sorry meant to post this in https://github.com/maxgoedjen/secretive

[2020-06-29 21:04] #51 closed, assigned to nobody

[2020-07-02 03:06] craSH commented on #26
`kSecAccessControlTouchIDAny` is also now deprecated in favor of `kSecAccessControlBiometryAny`

* https://developer.apple.com/documentation/security/secaccesscontrolcreateflags/ksecaccesscontroltouchidany?language=objc
* https://developer.apple.com/documentation/security/secaccesscontrolcreateflags/ksecaccesscontrolbiometryany?language=objc

[2020-07-03 07:36] craSH opened #52 "Add support for unlocking private keys with Apple Watch"
This is a feature request to allow authorizing of SeKey key signing operations with an active paired Apple Watch in addition to the Biometric sensors offered by current Macbooks. This would be useful for people who have their laptop closed during use, such as while using a dock/external monitor. Otherwise keys managed by SeKey are unusable due to TouchID being unavailable with the screen closed, a

[2020-07-16 13:25] steinwelberg commented on #31
I'm running into the same issue. What is the status on this? 😄

[2020-07-19 19:04] JSteeleIR commented on #52
Just thought of this myself, and then came to find you'd already submitted an issue for it. 😁

You say you tried to get it to build with the change locally but it wouldn't work? Do you have a fork I can peak at? Maybe the two of us can make it possible?

[2020-09-27 00:17] aidansteele commented on #28
What were the special entitlements that you found? When I try searching for this, I can see that Apple added key attestation in iOS 14 but I'm yet to see anything for macOS.

[2020-10-18 19:02] craSH commented on #52
Hi @JSteeleIR sorry I messed up my notification settings for this repo!

I actually haven't been able to get it to build with a clean clone from this repo, but I also have no experience with Mac OS dev specifically so I'm flailing a bit with that. Specifically I couldn't seem to get the bundle signing to work correctly, and I'm not sure if it should work with the free temporarily developer certifi

[2020-11-18 15:00] sneak opened #54 "suggestion: allow key label as arg to export (and optionally delete)"
I didn't realize (before running `-l`) that ID didn't mean the thing I named it (label) when creating.

[2020-11-19 04:14] inklesspen opened #55 "Please add ARM64 builds"
Obviously M1 macs have Rosetta, but for something important like this, an ARM64 build is a good idea.

[2020-12-16 04:55] zachberger commented on #55
This would be dependent on Rust support, which according to rust-lang/rust#73908 is only in beta and is unsupported at this time

[2021-01-06 15:59] mfdutra opened #56 "Sekey not working after upgrading to Big Sur"
Hello,

Not sure if anyone else has noticed. After upgrading to Big Sur, sekey is still running and able to list and export keys, but the SSH client is unable to use it to sign the challenge, throwing this error:

[code]

[2021-01-06 16:21] mfdutra commented on #56
More information running sekey with debug enabled:

[code]

[2021-01-06 17:34] mfdutra commented on #56
Well, it turns out it was a problem with the Macbook's touch bar itself. Nothing that required touch id was working. I had to shutdown and hold the power button for 10 seconds to fix the issue.

[2021-01-06 17:34] #56 closed, assigned to nobody

[2021-01-06 17:41] martinpaljak commented on #56
Big sur has some weird glitches, like sound disappearing for a while or touchid not working on lock screen (but working otherwise) etc. Annoying, but hopefully going away in future updates.

[2021-01-24 00:38] lean0x2F commented on #55
it's fully supported, I just built it from an m1 without any issues.

[code]

[2021-02-24 16:00] kubblai commented on #31
I have the same issue on macos with brew install would be nice when i have to pull from a ton of repos to just ssh-add - great job on the software though its fab!

[2021-03-16 08:07] phroggyy commented on #17
@ntrippar what's the status on this now? I'm running into this now, same issue. Server accepts the public key, but sekey fails to sign, same error as above.

[2021-03-16 08:17] martinpaljak commented on #17
The private key not being exportable and thus restorable on a machine reinstall is the expected behavior. You should have procedures in place how to replace "lost" SSH keys and apply it when re-imaging a device. As the public key is stored as "plaintext" data in the keychain, it gets re-initiated, but the private key is lost forever (by design).

[2021-03-16 08:25] phroggyy commented on #17
I've done no reinstall, the key is available in `sekey --list-keys` and I can export the public key

[2021-06-23 20:44] chrisportela commented on #17
I am having this issue now too. It happens once after seemingly a few hours and then it works fine again.

[2021-09-10 19:14] tristan-k commented on #55
@lean0x2F Can you publish your build?

[2021-10-29 03:07] taxilian commented on #55
For anyone willing to trust an arbitrary stranger on the internet:

https://newcloud.zzt.net/index.php/s/HQm2pRFgieL68dE

Built on my 14" macbook pro M1 max using cargo/rust from macports from the latest master, signed with my own Developer key. If someone has a better place to host it that might be good...

[2021-11-11 04:22] buddyw opened #60 "sekey not working since update to Monterey"
I have an M1 macbook air and I've been using sekey on it for a about a year now, but since I upgraded from Big Sur to Monterey I haven't been able to get it to authenticate at all.

From the SSH end, everything is fine until the signing: debug1:

[code]

If I run sekey as debug `RUST_LOG=debug sekey --daemon` I get:
[code]

Everything looks good in the enclave:
[code]

I've tried reinstalling, reb

[2021-11-11 10:34] securechicken commented on #60
Exact same issue and errors in logs after updating to Monterey.
Annnd... it looks from the PR list this project is not maintained :(

Edit:
- tried to reinstall sekey, did not change anything,
- might be linked to #17 where similar error logs appear, and a possible issue has been identified (but not fixed...) from the way keys properties are set when created,
- wanted to test the previous point by

[2021-11-29 10:21] marcan commented on #60
Judging by this comment, it works out of the box on Monterey/M1 if you just rebuild it on that platform.

https://github.com/sekey/sekey/issues/55#issuecomment-954384646

Edit: or maybe not, I get the same "Error generating key" thing with that build...

[2021-11-29 10:26] marcan commented on #60
Looks like an entitlement problem. `log stream` says:

```secd: [com.apple.securityd:SecError] sekey[61772]/1#-1 LF=0 add Error Domain=NSOSStatusErrorDomain Code=-34018 "Client has neither com.apple.application-identifier nor com.apple.security.application-groups nor keychain-access-groups entitlements" UserInfo={numberOfErrorsDeep=0, NSDescription=Client has neither com.apple.application-identifi

[2021-11-29 10:30] marcan commented on #60
Turns out that ARM64 version isn't even codesigned properly... here's the actual error from the published pkg:

```ctkd: [com.apple.CryptoTokenKit:tokenhost] requested driver for token class 'com.apple.setoken' not found in the system```

[2021-11-29 10:32] marcan commented on #55
@taxilian it looks like that build isn't properly signed with entitlements; checking the entitlements with `codesign` returns nothing.

[2021-11-29 10:38] marcan commented on #60
Googling around, this might actually be a bug/regression in Monterey...

* https://developer.apple.com/forums/thread/689584
* https://developer.apple.com/forums/thread/685773

[2021-11-29 10:50] marcan commented on #60
Looks like there is an alternative implementation here:

https://github.com/maxgoedjen/secretive

It works fine on Monterey/M1. Given that sekey seems to be unmaintained, it's probably a good idea to migrate to that...

[2021-12-01 23:01] taxilian commented on #55
Yeah, I thought it was working and then discovered I was looking at the wrong thing; haven't had time to figure out why it's not working yet. I followed the instructions, but something didn't happen it seems....

[2021-12-01 23:22] taxilian commented on #55
Well, I found one or two definite reasons for it to not work, but something must be missing; if I follow the instructions on the main page to build it ends up with an invalid signature on the app bundle because you add the binary after signing the bundle. If I sign the bundle after copying the binary in then the binary immediately gets killed

[code]

I don't know what else to try

[2021-12-02 02:44] taxilian commented on #55
it's frustrating that it builds and (probably) runs just fine, but it's the code signing and packaging that I can't get to work, so it can't use the entitlements and access the secure enclave. any suggestions from @ntrippar would be appreciated =]

[2022-06-02 23:49] Firstyear opened #61 "Change keytype from ecdsa-sha2-nistp256 to ecdsa-sha2-nistp256-sk"
OpenSSH now supports ecdsa-sk and ed25519-sk keys. The '-sk' denotes these are stored on a security key, such as a yubikey.

Since sekey itself is also using hardware backed keys, it could be useful to "indicate" as such an generate these keys as the -sk class so that they can be distinguished from other key types.

What do you think?

[2022-06-03 08:47] martinpaljak commented on #61
Doesn't the -sk indicate "security key" and means a FIDO-type device/key? sekey app and secure enclae is not a fido type device and the protocol and properties of the key are different from fido (sekey being more like a generic PKCS#11 container instead)

[2022-06-06 00:06] Firstyear commented on #61
Yeah, that's fair, but I think it's still a good way to indicate "it's hardware backed". Maybe there is a different way to indicate this?

[2022-06-06 05:40] martinpaljak commented on #61
"indication" is worthless unless you can verify it. FIDO (in theory) uses attestation. "plain ecc key" like sekey does not (at least not in the context of OpenSSH). A plain p256 key is different from fido p256-sk key, they are just no the same thing.

[2022-06-06 07:57] Firstyear commented on #61
Sure, sounds like it's not worth it then.

[2022-06-06 07:57] #61 closed, assigned to nobody

[2022-07-01 22:28] silicispongia commented on #60
I was running into a similar problem on x86. Turns out, since I paired my yubikey with my user, and used its pin to log in, my secure enclave remained locked. eventually found the error: "password is required to unlock secure enclave" on a lock screen.